#LinkWrapper{
    //background-color: mistyrose;
    background-color: #FFFFBD;
    position: absolute;
    width: 500px;
    height: 50px;
    left: 30%;
    top: 40%;
}

.link{
    height: 70%;
    margin: 5px;
}

#navBar{
    width: 100%;
    background-color: #FFFFBD;
}

#navBar li {
    display: inline-block;
    list-style-type: none;
    cursor:pointer;
    margin: 20px;
}

#signUpWrapper{
    background-color: #FFFFBD;
    position: absolute;
    width: 500px;
    height: 400px;
    padding: 10px;
    left: 30%;
    top: 20%;
}

#loginWrapper{
    background-color: #FFFFBD;
    position: absolute;
    width: 500px;
    height: 250px;
    padding: 10px;
    left: 30%;
    top: 30%;
}

#form input{
    height: 20px;
    width: 70%;
    float: right;
    margin-right: 10%;
}

.mainWrapperWrapper{
    background-color: #FDFD96;
    width: 100%;
}

#name{
    background-color: #FDFD96;
    display: inline-block;
    width: 65%;
    font-size: x-large;
    margin: 20px;
    padding-left: 40px;
}

#price{
    background-color: #FDFD96;
    display: inline-block;
    width: 25%;
    font-size: x-large;
    margin: 20px;
}

#selectSize{
    background-color: #FDFD96;
    display: inline-block;
    width: 40%;
    height: 400px;
    margin: 20px;
    padding: 20px 0px 0px 40px;
}

#priceHistory{
    background-color: #FDFD96;
    display: inline-block;
    width: 40%;
    height: 400px;
    margin: 20px;
    padding: 20px 0px 0px 40px;
}

.styled-select{
    background-color: #FDFD96;
    width: 270px;
    border: lightgray 1px solid;
    margin: 20px;
}

.styled-select select{
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 270px;
}

#next{
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 30px;
    right:    75%;
    bottom:   20%;
    border-radius: 10px;
}

#nameResult{
    background-color: #FFFFBD;
    padding: 20px;
    font-size: x-large;
}

#forms input{
    height: 20px;
    width: 70%;
    float: right;
    margin-right: 10%;
}

#notifyWrapper{
    background-color: #FFFFBD;
    position: absolute;
    width: 500px;
    height: 250px;
    padding: 10px;
    left: 30%;
    top: 30%;
}
